
.header {
	margin-top: 40px;
	border-bottom: 2px solid #e2e2e2;
	padding-bottom: 35px;
	float: left;
	width: 100%;
	
}
.container {
	padding-right:20px;
	padding-left:20px;
	margin-right:auto;
	margin-left:auto;
	margin: 0 auto;
	display: flex;
}

.logo {
	
	display: flex;
	flex-basis: 20%;
	height: 80px;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: auto;
}


.logo a img {
	max-width: 100%;
	height: auto;

}

.x {
	flex-grow: 1;
}

.menu {
	display: flex;
	flex-basis: 60%;
}

.menu ul {
	list-style: none;
	padding: 0;
	display: flex;
	align-items: center;
	background: red;
	border-radius: 15px;

}


.menu li a {
	font-size: 19px;
	color: #fff;
	text-decoration: none;
	padding: 23px 20px;
	text-transform: uppercase;
}

